<?xml version="1.0" encoding="utf-8" ?>
<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


  <targets>
    <target xsi:type="File" name="logfile" fileName="log_file.txt" />
    <target xsi:type="Console" name="logconsole" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole"></logger>
    <logger name="*" minlevel="Info" writeTo="logfile"></logger>
  </rules>

</nlog>